@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family:"Poppins";
}
main{
    box-shadow:1px 1px 10px grey;
    border-radius: 5px;
    width:35%;
    height:90vh;
    margin:auto;
    position:relative;

}
main h1{
    background-color: pink;
    margin:0px;
    padding:0px;
    font-weight:300;
    text-align:center;
}
main p{
    text-align:center;
    font-style:italic;
    margin: 0px;
    padding:0px;
    margin-top:150px;
}
main h4{
    font-size: 3em;
    text-align: center;
    margin:0px;
    padding:0px;
}
main button{
    background-color: plum;
    border:none;
    padding:12px;
    margin:5px;
    border-radius: 8px;
    box-shadow: 1px 2px 6px silver;

}
main button:hover{
    cursor:pointer;
    background-color: rgb(234, 115, 135);
}
.btn-minus{
    position:absolute;
    left:0;
    bottom:0;
}
.btn-plus{
    position:absolute;
    right:0;
    bottom:0;
}
@media(max-width:500px){
    main{
        width:100%;
    }
}